<!DOCTYPE html>
<html>
<head>
  <title>Air Stable</title>
</head>
<body>
  <header>
    <h1>Air Stable</h1>
    <p>Find Stable space to rent. Offer your space to renters.</p>
  </header>
</body>
</html>