<% if logged_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
<% else %>
  <p><a href="/users/new">Sign up for an account!</a></p>
  <p>Or <a href="/session/new">Log in!</a></p>
<% end %>

<% @stables.each do |stable| %>
  <article class="stable">
    <h3><%= stable.name %></h3>
    <p><%= stable.address %></p>
  </article>
<% end %>
