<% if logged_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
<% else %>
  <p><a href="/users/new">Sign up for an account!</a></p>
  <p>Or <a href="/session/new">Log in!</a></p>
<% end %>

<% @stalls.each do |stall| %>
  <article class="stall">
    <h3><%= stall.name %></h3>
    <p><%= stall.address %></p>
  </article>
<% end %>
