<!DOCTYPE html>
<html>
<head>
  <title>Air Stable</title>
  <link rel="stylesheet" media="screen" type="text/css" href="/style.css" />
</head>
<body>
  <header>
    <h1>Air Stable</h1>
    <p>Find Stable space to rent. Offer your space to renters.</p>
  </header>
  <nav>
    <% if logged_in? %>
      <form method="POST" action="/session">
        <input type="hidden" name="_method" value="DELETE" />
        <button>Log out</button>
      </form>
    <% else %>
      <p><a href="/users/new">Sign Up</a> | <a href="/session/new">Log in</a></p>
    <% end %>
  </nav>
  <article id="main-content">
    <%= yield %>
  </article>
</body>
</html>
