<h2>Add a Rental Request</h2>
<form method="POST" action="/rental_requests">

  Stall Name you're requesting hidden input for `Stall` details
  <br>
  User Name doing the requesting hidden input for `User` details
  <br>
  Status of Request hidden input for "status" => pending
  <br>
  Choose Rental Date input type date
  <br>
  <label>Stall Name:
    <input type="text" name="rental_request[name]" value="<%= @rental_request.name %>"/></label>
      <%= erb :_error, {:locals => { :model => @rental_request, :field_name => :name } } %>

  <button>Add Rental Request</button>

</form>
