<h2>Add a Stall</h2>
<form method="POST" action="/stalls">

  <label>Name:
    <input type="text" name="stall[name]" value="<%= @stall.name %>"/></label>
      <%= erb :_error, {:locals => { :model => @stall, :field_name => :name } } %>

  <label>Address:
    <input type="text" name="stall[address]" value="<%= @stall.address %>"/></label>
      <%= erb :_error, {:locals => { :model => @stall, :field_name => :address } } %>


  <button>Add Stall</button>

</form>
